elektro.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="obchod">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="zbozi">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="elektronika">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="pocitace-a-notebooky">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="notebooky">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="notebook" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="znacka"/>
                                      <xs:element type="xs:string" name="model"/>
                                      <xs:element name="cena">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:string">
                                              <xs:attribute type="xs:string" name="mena" use="optional"/>
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element type="xs:string" name="numericka-klavesnice"/>
                                      <xs:element name="vlastnosti">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="vaha">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                    <xs:attribute type="xs:string" name="jednotka" use="optional"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="display">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                    <xs:attribute type="xs:string" name="jednotka" use="optional"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="baterie">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:byte">
                                                    <xs:attribute type="xs:string" name="jednotka" use="optional"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="typ" use="optional"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="monitory">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="monitor" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="znacka"/>
                                      <xs:element type="xs:string" name="model"/>
                                      <xs:element name="cena">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:int">
                                              <xs:attribute type="xs:string" name="mena" use="optional"/>
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element type="xs:string" name="HDMI"/>
                                      <xs:element name="rozmery">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="vyska">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                    <xs:attribute type="xs:string" name="jednotka" use="optional"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="sirka">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                    <xs:attribute type="xs:string" name="jednotka" use="optional"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="herce">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:short">
                                                    <xs:attribute type="xs:string" name="jednotka" use="optional"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="model" use="optional"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="herni">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="PC">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="sestava" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="cena">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:int">
                                              <xs:attribute type="xs:string" name="mena" use="optional"/>
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element type="xs:string" name="procesor"/>
                                      <xs:element type="xs:string" name="graf_karta"/>
                                      <xs:element type="xs:string" name="operacni-system"/>
                                      <xs:element name="RAM">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:byte">
                                              <xs:attribute type="xs:string" name="jednotkaRAM" use="optional"/>
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="zamereni" use="optional"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
